.donatePage {
    background: #f9fff8;
    min-height: 100%;
    padding: 0 20px 40px;
}
/* src/components/YourComponent.css or global.css */
.fixed-fab {
    position: fixed;
    bottom: 70px; /* Adjust the desired distance from the bottom */
    right: 20px; /* Adjust the desired distance from the right */
    z-index: 999; /* Ensure it's above other elements */
  
  }
  
.createNews h6 {
    color: #464646;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    font-family: "Kanit", sans-serif;
}

.donateTabs .react-tabs__tab-list {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}
.donateTabs .react-tabs__tab {
    color: #464646;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    position: relative;
    border: none;
    border-bottom: transparent 2px solid;
    outline: none !important;
    padding: 6px 0;
    font-family: "Kanit", sans-serif;
}
.donateTabs .react-tabs__tab--selected {
    background-color: transparent;
    color: #5ab843;
    border-radius: 0;
    border-bottom-color: #5ab843;
}
.donateNow {
    margin-top: 20px;
}
.swiper-button-prev, .swiper-button-next{
    color: #5ab843 !important;
}
 
.donateTextIcon {
    position: relative;
}
.donateText {
    position: absolute;
    top: -7px;
    left: 1px;
    transform: scale(1.4);
}

.donateTextIcon {
    margin: 100px;
}
  
  
  